export COLORS_PAR_HCLOUD_TOKEN=REPLACE_ME
export COLORS_PAR_CLOUDFLARE_API_TOKEN=REPLACE_ME
export COLORS_PAR_R2_ACCESS_KEY_ID=REPLACE_ME
export COLORS_PAR_R2_SECRET_ACCESS_KEY=REPLACE_ME
# Never export COLORS_PAR_PROFILE.
